<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Tbj Creations" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Tbj Creations" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
<link href='http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300,400|Exo+2' rel='stylesheet' type='text/css'>

  </head>
  <body>
    <header>
      <%= render 'layouts/navigation_header' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
    <footer style="padding-top: 100px;">
      <%= render 'layouts/navigation_footer' %>
    </footer>
  </body>
</html>
